.heading {
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 7%;
    font-family: 'Inter', sans-serif;
}

.linkImage {
    text-decoration: none;
    color: white;
}

.link {
    margin-top: 7px;
    text-decoration: none;
    color: white;
}

.linkDiv {
    border: 15px solid rgba(19, 38, 139, 0.85);
    border-radius: 10px;
    background-color: rgba(19, 38, 139, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landingBody {
    background-color: #fcf6e8;
    background-image: url("images/texture.png");
    background-repeat: repeat;
    color: white;
    width: auto;
}

#rectangle {
    position:relative;
    width: 600px;
    min-height: 60px;
    margin-top: 4%;
    padding-top: 20px;
    transform: perspective(10px) rotateX(-1deg);
    left: -10%;
    background-color: rgba(255, 99, 79, 0.85);
}

#headingDiv {
    position: absolute;
    left: 2%;
    top: 10%;
}





#candidate {
    width: 780px;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 3px solid black;
    border-radius: 25px;
}

#nameParty {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

#x {
    margin-right: 10px;
}
.title {
    text-align: center;
}

.candiateList {
    display: inline-block;
}


.candidateButtons {
    width: 500px;
    float: left;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 40px;
    font-size: 20px;
    grid-auto-flow: column;
}

.candidate-btn {
    width: 330px;
    height: 80px;
    cursor: pointer;
    border-radius: 20px;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.close {
    cursor: pointer;
    float: right;
    color: gray;
    width: 30px;
    height: 30px;
    padding-top: 25px;
}

.up-down {
    display: none;
}

.up-down-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}
.up-down-btns button {
    width: 70px;
    height: 30px;
    border-radius: 12px;
    border-color: #3272E9;
    background-color: white;
    cursor: pointer;
    color: #3272E9;
}

.result {
    float: right;
    border: 1px solid black;
    margin-right: 25px;
}

.review {
    float: center;
    border: 1px solid black;
    margin-right: 25px;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}

.candidate-data {
    width: 780px;
    height: 80px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 15px;
    transform: translateX(0);
}

.candidate-li {
    display: flex;
    justify-content: space-evenly;
}


.delete-animation {
    transform: translateX(900px);
    transition: all 0.6s ease-out;
}

.selected {
    background-color: #3272E9;
    color: white;
}

.up-down-visible {
    display: block;
    float: right;
}
.close-white {
    color: white;
    margin-right: 30px;
}

#candidate-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    counter-reset: list-numbers;
    list-style-type: none;
    font-size: 20px;
    list-style-position: outside;
    height: 100%;
}

.candidate-li::before {
    counter-increment: list-numbers;
    content: counter(list-numbers);
    color: white;
    background: #446CD1;
    border-radius: 50%;
    height: 50px;
    width: 30px;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
    padding-top: 7px;
}


.candidate-name {
    padding-top: 15px;
}

.candidate-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

#ballot-instructions {
    padding: 10px;
}

#ballot-title {
    text-align: center;
}

.popupReview {
    position: fixed;
    border-style: solid;
    text-align: left;
    padding-left: 20px;
    padding-right: 60px;
    margin-left: 400px;
    border-radius: 20px;
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 1;
    display: none;
  }

  .popup .content {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0);
    width: 1820px;
    height: 960px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .popup .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
  }
  .popupButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 42px;
    
    position: absolute;
    width: 140px;
    height: 50px;
    left: 900px;
    top: 800px;
    
    /* Primary Blue */
    
    background: #3272E9;
    border-radius: 16px;
  }
  .popupBackButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 42px;
    
    position: absolute;
    width: 140px;
    height: 50px;
    left: 50px;
    top: 30px;
    
    background: #DFE2E6;
    border-radius: 16px;
  }
  .reviewButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 42px;
    
    position: absolute;
    width: 140px;
    height: 50px;
    left: 1700px;
    top: 30px;
    
    /* Primary Blue */
    
    background: #3272E9;
    border-radius: 16px;
  }
  
  .popup.active .overlay {
    display: block;
  }
  
  .popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
  }
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.languageButtons {
    width: 500px;
    float: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 40px;
    font-size: 20px;
    grid-auto-flow: column;
    position: relative;
    left: 50%;
    transform:translate(-70%, 0%);
    margin-top: 20px;
}
.languageButtons h2{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.langH1{
    text-align: center;
    font-size: 2em;
}
.langH3{
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.5em;
}

.candidate-btn2 {
    position: relative;
    transform:translate(-50%, 0%);
    top: 10%;
    left: 50%;
    width: 330px;
    height: 80px;
    cursor: pointer;
    border: 2px solid #3272E9;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
}
.candidate-btn2:focus {
    background-color: #446CD1;
    color: white;
}
/* body {
    background-color: #13268b;
    background-image: url("images/texture.png");
} */
